@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;800&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#f7dddd;
    --prim-color:#7171db;
    --sec-color:#1d861d;
    --light:white;
    --dark:black;
    --transform:capitalize;
    --rad:8px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main{
    margin: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tite{
    width: 70%;
    text-transform: var(--transform);
    margin-bottom: 10px;
}
.tite p{
    position: relative;
    left: 0.2rem;
}
.center{
    background-color: var(--main-color);
    width: 70%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cen{
    text-transform: var(--transform);
}
label{
    text-transform: var(--transform);
    text-align: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;   
}

form input{
    width: 70%;
}
form div{
    text-align: center;
    margin-top: 20px;
}
button[type='submit']{
    background-color: var(--prim-color);
    color: var(--light);
    border: none;
    padding: 10px 20px;
    margin: 30px auto;
    position: relative;
    bottom: 10px;
    border-radius: var(--rad);
}
.second{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.dem{
    width: 70%;
    height: 0.2%;
    background-color: #d0e8f0;
    position: fixed;
    top: 70px;
}
input::placeholder{
    text-transform: var(--transform);
}

.sites{
    display: flex;
    justify-content: center;
    text-transform: var(--transform);
    background-color: var(--main-color);
    min-width: 70%;
    margin: 6px;
}
.sites a{
    text-transform: var(--transform);
    width: 4rem;
    height: 2rem;
    position: relative;
    top: 0.9rem;
    left: 2rem;
    margin: 5px;
    border-radius: var(--rad);
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete{
    background-color: var(--sec-color);
    border: none;
    color: var(--light);
    
}
.visit{
    border: 1px solid black;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;

}